@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    @include flex;
    background: radial-gradient(circle, rgb(159, 67, 213) 0%, rgb(239, 200, 255) 100%);
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    .logo {
        position: relative;
        transition: color 0.1s, transform 0.2s;

        &:hover {
            color: rgb(51, 204, 255);
            transform: rotateZ(60deg);
        }
    }

    h1 {
        color: white;
        font-size: 100px;
        line-height: 80px;
    }

    h2 {
        color: rgb(255 255 255 / 0.5);
        font-size: 40px;

        span {
            background: rgb(80, 80, 80);
            border-radius: 5px;
            color: white;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 100;
            padding: 3px;
        }
    }

    p {
        color: rgb(0 0 0 / 0.5);
        font-size: 30px;
    }
}